<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= staticUrl %>/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
  </head>
  <script>
    var apiUrl = "<%= apiUrl %>"
    var verifyKey = "<%= verifyKey %>"
  </script>
  <body>
  <h1>视频资源站内测版Ver1.0&nbsp;<span style="font-size: 12px;color: #ccc;">阿C出品</span></h1>
	<input id="videoName" type="text" placeholder="请输入您想要看的视频(目前仅支持优酷)">
	<button onclick="startSearch(this);">搜索</button>
  <div>
    <p>请选择线路（部分线路可能需要flash）</p>
    <div>
    <input type="radio" checked name="changeLine" url="1">线路1
    </div>
  <div>
      <input type="radio" name="changeLine" url="2">线路2
    </div>
  <div>
      <input type="radio" name="changeLine" url="3">线路3
    </div>
  <div>
      <input type="radio" name="changeLine" url="4">线路4
    </div>
  <div>
      <input type="radio" name="changeLine" url="5">线路5
    </div>
    <div>
      <input type="radio" name="changeLine" url="6">线路6
    </div>
    <div>
      <input type="radio" name="changeLine" url="7">线路7
    </div>
  </div>

	<div class="video-list"></div>
  </body>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="<%= staticUrl %>/javascripts/vs.js"></script>
</html>
