<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %>在线观看地址</title>
</head>
<body>
	<h1><%= title %></h1>
	<%for(var i=0;i<data.length;i++){%>
		<p>节目名称：<%=data[i].num%></p>
		<a href="<%=data[i].url%>"><%=data[i].url%></a>
		<%}%>
</body>
</html>